<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<connectionStrings><add name="HorseSchoolPPEntities" connectionString="metadata=res://*/DbEntity.SportSchoolModel.csdl|res://*/DbEntity.SportSchoolModel.ssdl|res://*/DbEntity.SportSchoolModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-C35RCAP\MSSQLSERVERS;initial catalog=HorseSchoolPP;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>